<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoes.product.mapper.GoodsCatsMapper">

    <resultMap id="BaseResultMap" type="com.shoes.product.model.GoodsCats">
      <id column="id" jdbcType="INTEGER" property="id" />
      <result column="cat_id" jdbcType="INTEGER" property="catId" />
      <result column="parent_id" jdbcType="INTEGER" property="parentId" />
      <result column="pic_url" jdbcType="VARCHAR" property="picUrl" />
      <result column="pic_name" jdbcType="VARCHAR" property="picName" />
      <result column="is_show" jdbcType="INTEGER" property="isShow" />
      <result column="cat_sort" jdbcType="INTEGER" property="catSort" />
      <result column="into_user" jdbcType="VARCHAR" property="intoUser" />
      <result column="into_time" jdbcType="TIMESTAMP" property="intoTime" />
      <result column="upd_user" jdbcType="VARCHAR" property="updUser" />
      <result column="upd_time" jdbcType="TIMESTAMP" property="updTime" />
      <result column="status" jdbcType="INTEGER" property="status" />
      <result column="version" jdbcType="INTEGER" property="version" />
      <result column="remark" jdbcType="VARCHAR" property="remark" />
    </resultMap>

    <sql id="Base_Column_List">
      id, cat_id, parent_id, pic_url, pic_name, is_show, cat_sort, into_user, into_time,
      upd_user, upd_time, `status`, version, remark
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from s_goods_cats
      where id = #{id,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
      delete from s_goods_cats
      where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.shoes.product.model.GoodsCats" useGeneratedKeys="true">
      insert into s_goods_cats (cat_id, parent_id, pic_url,
        pic_name, is_show, cat_sort,
        into_user, into_time, upd_user,
        upd_time, `status`, version,
        remark)
      values (#{catId,jdbcType=INTEGER}, #{parentId,jdbcType=INTEGER}, #{picUrl,jdbcType=VARCHAR},
        #{picName,jdbcType=VARCHAR}, #{isShow,jdbcType=INTEGER}, #{catSort,jdbcType=INTEGER},
        #{intoUser,jdbcType=VARCHAR}, #{intoTime,jdbcType=TIMESTAMP}, #{updUser,jdbcType=VARCHAR},
        #{updTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{version,jdbcType=INTEGER},
        #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.shoes.product.model.GoodsCats" useGeneratedKeys="true">
      insert into s_goods_cats
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="catId != null">
          cat_id,
        </if>
        <if test="parentId != null">
          parent_id,
        </if>
        <if test="picUrl != null">
          pic_url,
        </if>
        <if test="picName != null">
          pic_name,
        </if>
        <if test="isShow != null">
          is_show,
        </if>
        <if test="catSort != null">
          cat_sort,
        </if>
        <if test="intoUser != null">
          into_user,
        </if>
        <if test="intoTime != null">
          into_time,
        </if>
        <if test="updUser != null">
          upd_user,
        </if>
        <if test="updTime != null">
          upd_time,
        </if>
        <if test="status != null">
          `status`,
        </if>
        <if test="version != null">
          version,
        </if>
        <if test="remark != null">
          remark,
        </if>
      </trim>
      <trim prefix="values (" suffix=")" suffixOverrides=",">
        <if test="catId != null">
          #{catId,jdbcType=INTEGER},
        </if>
        <if test="parentId != null">
          #{parentId,jdbcType=INTEGER},
        </if>
        <if test="picUrl != null">
          #{picUrl,jdbcType=VARCHAR},
        </if>
        <if test="picName != null">
          #{picName,jdbcType=VARCHAR},
        </if>
        <if test="isShow != null">
          #{isShow,jdbcType=INTEGER},
        </if>
        <if test="catSort != null">
          #{catSort,jdbcType=INTEGER},
        </if>
        <if test="intoUser != null">
          #{intoUser,jdbcType=VARCHAR},
        </if>
        <if test="intoTime != null">
          #{intoTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updUser != null">
          #{updUser,jdbcType=VARCHAR},
        </if>
        <if test="updTime != null">
          #{updTime,jdbcType=TIMESTAMP},
        </if>
        <if test="status != null">
          #{status,jdbcType=INTEGER},
        </if>
        <if test="version != null">
          #{version,jdbcType=INTEGER},
        </if>
        <if test="remark != null">
          #{remark,jdbcType=VARCHAR},
        </if>
      </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.shoes.product.model.GoodsCats">
      update s_goods_cats
      <set>
        <if test="catId != null">
          cat_id = #{catId,jdbcType=INTEGER},
        </if>
        <if test="parentId != null">
          parent_id = #{parentId,jdbcType=INTEGER},
        </if>
        <if test="picUrl != null">
          pic_url = #{picUrl,jdbcType=VARCHAR},
        </if>
        <if test="picName != null">
          pic_name = #{picName,jdbcType=VARCHAR},
        </if>
        <if test="isShow != null">
          is_show = #{isShow,jdbcType=INTEGER},
        </if>
        <if test="catSort != null">
          cat_sort = #{catSort,jdbcType=INTEGER},
        </if>
        <if test="intoUser != null">
          into_user = #{intoUser,jdbcType=VARCHAR},
        </if>
        <if test="intoTime != null">
          into_time = #{intoTime,jdbcType=TIMESTAMP},
        </if>
        <if test="updUser != null">
          upd_user = #{updUser,jdbcType=VARCHAR},
        </if>
        <if test="updTime != null">
          upd_time = #{updTime,jdbcType=TIMESTAMP},
        </if>
        <if test="status != null">
          `status` = #{status,jdbcType=INTEGER},
        </if>
        <if test="version != null">
          version = #{version,jdbcType=INTEGER},
        </if>
        <if test="remark != null">
          remark = #{remark,jdbcType=VARCHAR},
        </if>
      </set>
      where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.shoes.product.model.GoodsCats">
      update s_goods_cats
      set cat_id = #{catId,jdbcType=INTEGER},
        parent_id = #{parentId,jdbcType=INTEGER},
        pic_url = #{picUrl,jdbcType=VARCHAR},
        pic_name = #{picName,jdbcType=VARCHAR},
        is_show = #{isShow,jdbcType=INTEGER},
        cat_sort = #{catSort,jdbcType=INTEGER},
        into_user = #{intoUser,jdbcType=VARCHAR},
        into_time = #{intoTime,jdbcType=TIMESTAMP},
        upd_user = #{updUser,jdbcType=VARCHAR},
        upd_time = #{updTime,jdbcType=TIMESTAMP},
        `status` = #{status,jdbcType=INTEGER},
        version = #{version,jdbcType=INTEGER},
        remark = #{remark,jdbcType=VARCHAR}
      where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="getCats" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from s_goods_cats
    </select>

    <select id="getCatsByCatId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
      select
      <include refid="Base_Column_List" />
      from s_goods_cats
      where cat_id = #{catId,jdbcType=INTEGER}
    </select>
</mapper>